<h1>Listing stats</h1>

<div id="stat-table">
  <%= render(:partial => "stats") %>
</div>


<br />

<%= link_to 'Import XML File', :action => 'load_xml' %>
<br />
<%= link_to 'New stat', new_stat_path %>